CARD_NUMBER=
CARD_PASSWORD=

BASE_URL=https://kartenservice.studentenwerk-leipzig.de/TL1/TLM/KASVC/
BASIC_AUTH_USERNAME=KASVC
BASIC_AUTH_PASSWORD=zKv5yE1LZUmvW29I
TRANSACTION_FILE=./data/trans.json
TRANSACTION_POSITIONS_FILE=./data/transpos.json

MENSA_XML_URL=https://studentenwerk-leipzig.de/XMLInterface/request
XML_CACHE_FILE=./data/mensa_xml_cache.json

OPENMENSA_API_URL=https://openmensa.org/api/v2/
OPENMENSA_CACHE_FILE=./data/openmensa_cache.json

MEAL_LOOKUP_FILE=./data/meal_lookup.json