openapi: 3.0.3
info:
  title: Kartenservice Server API
  description: |
    REST API served by kartenservice-server. Provides meal data from OpenMensa and
    Mensa XML sources, meal lookups matched against card transaction history, and
    card management backed by Infisical secret storage.

    Authenticated endpoints use HTTP Basic Auth where the username is the card number
    and the password is the card password stored in Infisical.
  version: 1.0.0

servers:
  - url: https://api.casparkroll.de/kartenservice/v1
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Meals
    description: Meal data from the local database
  - name: Transactions
    description: Card transaction and transaction position history
  - name: Cards
    description: Card management
  - name: Locations
    description: Mensa location management
  - name: Fetch
    description: Trigger background data fetches
  - name: Sync
    description: Sync data from a remote kartenservice-server instance

security: []

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Card number as username, card password as password

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
      required: [error]

    Message:
      type: object
      properties:
        message:
          type: string
      required: [message]

    Prices:
      type: object
      nullable: true
      properties:
        students:
          type: number
          format: float
          nullable: true
        employees:
          type: number
          format: float
          nullable: true
        pupils:
          type: number
          format: float
          nullable: true
        others:
          type: number
          format: float
          nullable: true

    Meal:
      type: object
      description: A meal from the local database, joined with canteen location data.
      properties:
        id:
          type: integer
        mensa_location_id:
          type: integer
        locationName:
          type: string
        locationInternalName:
          type: string
          nullable: true
        locationOpenMensaId:
          type: integer
        locationMensaXMLId:
          type: integer
          nullable: true
        date:
          type: string
          format: date-time
        name:
          type: string
        category:
          type: string
        internalCategory:
          type: string
          nullable: true
        prices:
          $ref: '#/components/schemas/Prices'
        notes:
          type: array
          items:
            type: string
          nullable: true
        components:
          type: array
          items:
            type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true

    Transaction:
      type: object
      properties:
        id:
          type: integer
        mandantId:
          type: integer
        transFullId:
          type: string
        datum:
          type: string
          format: date-time
        ortName:
          type: string
        kaName:
          type: string
        typName:
          type: string
        zahlBetrag:
          type: number
          format: float
        dateiablageId:
          type: integer
          nullable: true
        bonusInfo:
          type: string
          nullable: true
        cardnumber:
          type: string

    TransactionPosition:
      type: object
      properties:
        id:
          type: integer
        mandantId:
          type: integer
        transFullId:
          type: string
        posId:
          type: integer
        name:
          type: string
        menge:
          type: integer
        epreis:
          type: number
          format: float
        rabatt:
          type: number
          format: float
          nullable: true
        gpreis:
          type: number
          format: float
        bewertung:
          type: integer
          nullable: true
        cardnumber:
          type: string

    CardBody:
      type: object
      required: [cardNumber, password]
      properties:
        cardNumber:
          type: string
          example: "123456789"
        password:
          type: string
          example: "password"

    MensaLocation:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        internalName:
          type: string
          nullable: true
        openMensaId:
          type: integer
          nullable: true
        mensaXMLId:
          type: integer
          nullable: true

  responses:
    Unauthorized:
      description: Missing or invalid Basic Auth credentials.
      headers:
        WWW-Authenticate:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Authenticated card does not match requested card number.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Missing or invalid request body fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:

  # ---------------------------------------------------------------------------
  # Meals
  # ---------------------------------------------------------------------------

  /meals:
    get:
      tags: [Meals]
      summary: Get all meals
      description: Returns all meals from the database with canteen location data.
      operationId: getMeals
      parameters:
        - name: id
          in: query
          description: Filter by meal ID (can be repeated)
          schema:
            type: array
            items:
              type: integer
        - name: date
          in: query
          description: Filter by meal date (can be repeated)
          schema:
            type: array
            items:
              type: string
              format: date
        - name: date-start
          in: query
          description: Filter by meal date greater than or equal to this date
          schema:
            type: string
            format: date
        - name: date-end
          in: query
          description: Filter by meal date less than or equal to this date
          schema:
            type: string
            format: date
        - name: canteenId
          in: query
          description: Filter by canteen ID (can be repeated)
          schema:
            type: array
            items:
              type: integer
        - name: today
          in: query
          description: If present, filters meals to only those for today (overrides `date` filter)
          schema:
            type: boolean
        - name: category
          in: query
          description: Filter by meal category (e.g., "Essen", "Beilage")
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: List of meals.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meal'

  /meals/{date}:
    get:
      tags: [Meals]
      summary: Get meals for a date
      description: Returns all meals for the given date. Returns 404 if no meals are found.
      operationId: getMealsByDate
      parameters:
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
            example: "2025-11-12"
        - name: id
          in: query
          description: Filter by meal ID (can be repeated)
          schema:
            type: array
            items:
              type: integer
        - name: canteenId
          in: query
          description: Filter by canteen ID (can be repeated)
          schema:
            type: array
            items:
              type: integer
        - name: category
          in: query
          description: Filter by meal category (e.g., "Essen", "Beilage")
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: List of meals for the given date.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meal'
        "404":
          $ref: '#/components/responses/NotFound'

  /meals/{date}/{canteenId}:
    get:
      tags: [Meals]
      summary: Get meals for a date and canteen
      description: Returns all meals for the given date and canteen. Returns 404 if no meals are found.
      operationId: getMealsByDateAndCanteen
      parameters:
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
            example: "2025-11-12"
        - name: canteenId
          in: path
          required: true
          schema:
            type: integer
            example: 63
        - name: id
          in: query
          description: Filter by meal ID (can be repeated)
          schema:
            type: array
            items:
              type: integer
        - name: category
          in: query
          description: Filter by meal category (e.g., "Essen", "Beilage")
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: List of meals for the given date and canteen.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meal'
        "404":
          $ref: '#/components/responses/NotFound'

  /meals/{date}/{canteenId}/{mealName}:
    get:
      tags: [Meals]
      summary: Get meals for a date, canteen, and name
      description: Returns all meals matched by date, canteen ID, and meal name. Returns 404 if not found.
      operationId: getMealsByDateCanteenAndName
      parameters:
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
            example: "2025-11-12"
        - name: canteenId
          in: path
          required: true
          schema:
            type: integer
            example: 63
        - name: mealName
          in: path
          required: true
          schema:
            type: string
            example: "Essen DD"
      responses:
        "200":
          description: List of matching meals.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meal'
        "404":
          $ref: '#/components/responses/NotFound'

  /meals/{id}:
    patch:
      tags: [Meals]
      summary: Update a meal's internal category
      description: Updates the `internalCategory` field of the meal with the given ID.
      operationId: patchMeal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [internalCategory]
              properties:
                internalCategory:
                  type: string
                  nullable: true
                  example: "main"
      responses:
        "200":
          description: Meal updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          $ref: '#/components/responses/BadRequest'

  /meals/card/{cardNumber}:
    get:
      tags: [Meals]
      summary: Get meals matched to a card's transactions
      description: Returns all meals matched to the full transaction history of the given card. Requires authentication as the given card.
      operationId: getCardMeals
      security:
        - basicAuth: []
      parameters:
        - name: cardNumber
          in: path
          required: true
          schema:
            type: string
            example: "123456789"
      responses:
        "200":
          description: List of matched meals.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meal'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'

  /meals/card/{cardNumber}/{date}:
    get:
      tags: [Meals]
      summary: Get meals matched to a card's transactions on a specific date
      description: Returns meals matched to the transaction history of the given card on the given date. Requires authentication as the given card.
      operationId: getCardMealsByDate
      security:
        - basicAuth: []
      parameters:
        - name: cardNumber
          in: path
          required: true
          schema:
            type: string
            example: "123456789"
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
            example: "2025-11-12"
      responses:
        "200":
          description: List of matched meals for the given date.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meal'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'

  # ---------------------------------------------------------------------------
  # Transactions
  # ---------------------------------------------------------------------------

  /trans/{cardNumber}:
    get:
      tags: [Transactions]
      summary: Get all transactions for a card
      description: Returns all transactions stored locally for the given card. Requires authentication as the given card.
      operationId: getTransactions
      security:
        - basicAuth: []
      parameters:
        - name: cardNumber
          in: path
          required: true
          schema:
            type: string
            example: "123456789"
      responses:
        "200":
          description: List of transactions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'

  /transpos/{cardNumber}:
    get:
      tags: [Transactions]
      summary: Get all transaction positions for a card
      description: Returns all transaction positions stored locally for the given card. Requires authentication as the given card.
      operationId: getTransactionPositions
      security:
        - basicAuth: []
      parameters:
        - name: cardNumber
          in: path
          required: true
          schema:
            type: string
            example: "123456789"
      responses:
        "200":
          description: List of transaction positions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransactionPosition'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'

  # ---------------------------------------------------------------------------
  # Cards
  # ---------------------------------------------------------------------------

  /card:
    post:
      tags: [Cards]
      summary: Add a card
      description: |
        Validates the card number and password against the kartenservice before
        storing the card. If the card is already registered, updates the password
        and returns 200 with a warning instead of 201.
      operationId: addCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardBody'
      responses:
        "201":
          description: Card added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: Card was already registered; password updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  warning:
                    type: string
        "400":
          description: Missing fields or invalid credentials from kartenservice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags: [Cards]
      summary: Update a card password
      description: |
        Validates the new password against the kartenservice before updating.
        Returns 404 if the card is not registered.
      operationId: updateCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardBody'
      responses:
        "200":
          description: Card password updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Missing fields or invalid new credentials from kartenservice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Cards]
      summary: Delete a card
      description: Removes the card from Infisical. Requires authentication as the card being deleted.
      operationId: deleteCard
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardNumber]
              properties:
                cardNumber:
                  type: string
                  example: "123456789"
      responses:
        "200":
          description: Card deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Locations
  # ---------------------------------------------------------------------------

  /locations:
    get:
      tags: [Locations]
      summary: Get all mensa locations
      description: Returns all mensa locations stored in the database.
      operationId: getLocations
      responses:
        "200":
          description: List of mensa locations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MensaLocation'

    post:
      tags: [Locations]
      summary: Add a mensa location
      description: |
        Creates a new mensa location. At least one of `openMensaId` or `mensaXMLId` is required.
        Returns 409 if a location with the given `openMensaId` or `mensaXMLId` already exists.
      operationId: addLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: "Mensa am Park"
                internalName:
                  type: string
                  nullable: true
                  example: "mensa-park"
                openMensaId:
                  type: integer
                  nullable: true
                  example: 63
                mensaXMLId:
                  type: integer
                  nullable: true
                  example: 1
      responses:
        "201":
          description: Location created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MensaLocation'
        "400":
          $ref: '#/components/responses/BadRequest'
        "409":
          description: A location with that openMensaId or mensaXMLId already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /locations/{id}:
    put:
      tags: [Locations]
      summary: Update a mensa location
      description: |
        Updates all fields of the mensa location with the given ID.
        At least one of `openMensaId` or `mensaXMLId` is required.
        Returns 409 if another location with the given `openMensaId` or `mensaXMLId` already exists.
      operationId: updateLocation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: "Mensa am Park"
                internalName:
                  type: string
                  nullable: true
                  example: "mensa-park"
                openMensaId:
                  type: integer
                  nullable: true
                  example: 63
                mensaXMLId:
                  type: integer
                  nullable: true
                  example: 1
      responses:
        "200":
          description: Location updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          $ref: '#/components/responses/BadRequest'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          description: A location with that openMensaId or mensaXMLId already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------------------------------------------------------------------------
  # Fetch triggers
  # ---------------------------------------------------------------------------

  /fetch/open-mensa:
    post:
      tags: [Fetch]
      summary: Trigger OpenMensa meal fetch
      description: Asynchronously fetches meals from OpenMensa for all Leipzig canteens starting from 7 days ago and rebuilds the meal lookup.
      operationId: fetchOpenMensa
      responses:
        "202":
          description: Fetch triggered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

  /fetch/open-mensa/sse:
    get:
      tags: [Fetch]
      summary: Fetch OpenMensa meals with SSE progress
      description: |
        Fetches meals from the OpenMensa API for the past 7 days and streams progress
        events via Server-Sent Events. Events: `progress` (step updates), `done`
        (completion with inserted count), `error` (on failure).
      operationId: fetchOpenMensaSSE
      responses:
        "200":
          description: SSE stream of progress events.
          content:
            text/event-stream:
              schema:
                type: string

  /fetch/mensa-xml:
    post:
      tags: [Fetch]
      summary: Trigger Mensa XML meal fetch
      description: Asynchronously fetches meals from the Mensa XML feed for the past week and rebuilds the meal lookup.
      operationId: fetchMensaXml
      responses:
        "202":
          description: Fetch triggered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

  /fetch/mensa-xml/sse:
    get:
      tags: [Fetch]
      summary: Fetch Mensa XML meals with SSE progress
      description: |
        Fetches meals from the Mensa XML feed for the past 7 days and streams progress
        events via Server-Sent Events. Events: `progress` (step updates), `done`
        (completion with inserted count), `error` (on failure).
      operationId: fetchMensaXmlSSE
      responses:
        "200":
          description: SSE stream of progress events.
          content:
            text/event-stream:
              schema:
                type: string

  /fetch/kartenservice:
    post:
      tags: [Fetch]
      summary: Trigger transaction fetch for a card
      description: |
        Asynchronously fetches transactions and transaction positions from the
        kartenservice for the given card and rebuilds the meal lookup.
        Requires authentication as the given card.
      operationId: fetchKartenservice
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardNumber]
              properties:
                cardNumber:
                  type: string
                  example: "123456789"
      responses:
        "202":
          description: Fetch triggered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'

  /fetch/kartenservice/sse:
    get:
      tags: [Fetch]
      summary: Fetch kartenservice transactions with SSE progress
      description: |
        Fetches transactions and transaction positions from the kartenservice for the
        given card and streams progress events via Server-Sent Events.
        Requires authentication as the given card. Credentials may also be passed via
        the `token` query parameter (Base64-encoded `cardNumber:password`) for
        EventSource clients that cannot send custom headers.
        Events: `progress` (step updates), `done` (completion with count), `error` (on failure).
      operationId: fetchKartenserviceSSE
      security:
        - basicAuth: []
      parameters:
        - name: cardNumber
          in: query
          required: true
          schema:
            type: string
            example: "123456789"
        - name: token
          in: query
          required: false
          description: Base64-encoded `cardNumber:password` fallback for EventSource clients.
          schema:
            type: string
      responses:
        "200":
          description: SSE stream of progress events.
          content:
            text/event-stream:
              schema:
                type: string
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Sync
  # ---------------------------------------------------------------------------

  /sync/host/meals:
    post:
      tags: [Sync]
      summary: Sync meals from a remote server
      description: |
        Fetches all meals and locations from a remote kartenservice-server instance
        and stores them locally. Rebuilds the meal lookup after syncing.
        The `hostUrl` must use http or https; only the origin (scheme + host + port) is used.
      operationId: syncHostMeals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hostUrl]
              properties:
                hostUrl:
                  type: string
                  example: "https://api.casparkroll.de"
      responses:
        "202":
          description: Sync triggered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          $ref: '#/components/responses/BadRequest'

  /sync/host/meals/sse:
    get:
      tags: [Sync]
      summary: Sync meals from a remote server with SSE progress
      description: |
        Fetches all meals and locations from a remote kartenservice-server instance,
        stores them locally, and streams progress events via Server-Sent Events.
        The `hostUrl` query parameter must use http or https.
        Events: `progress` (step updates with counts), `done` (completion with inserted counts),
        `error` (on failure).
      operationId: syncHostMealsSSE
      parameters:
        - name: hostUrl
          in: query
          required: true
          schema:
            type: string
            example: "https://api.casparkroll.de"
      responses:
        "200":
          description: SSE stream of progress events.
          content:
            text/event-stream:
              schema:
                type: string
        "400":
          $ref: '#/components/responses/BadRequest'

  /sync/host/transactions:
    post:
      tags: [Sync]
      summary: Sync transactions from a remote server
      description: |
        Fetches transactions and transaction positions for the given card from a
        remote kartenservice-server instance and stores them locally. Rebuilds the
        meal lookup after syncing. Requires authentication as the given card.
        The `hostUrl` must use http or https; only the origin is used.
      operationId: syncHostTransactions
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hostUrl, cardNumber]
              properties:
                hostUrl:
                  type: string
                  example: "https://api.casparkroll.de"
                cardNumber:
                  type: string
                  example: "123456789"
      responses:
        "202":
          description: Sync triggered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'

  /sync/host/transactions/sse:
    get:
      tags: [Sync]
      summary: Sync transactions from a remote server with SSE progress
      description: |
        Fetches transactions and transaction positions for the given card from a
        remote kartenservice-server instance, stores them locally, and streams
        progress events via Server-Sent Events. Requires authentication as the given
        card. Credentials may also be passed via the `token` query parameter for
        EventSource clients that cannot send custom headers.
        The `hostUrl` query parameter must use http or https.
        Events: `progress` (step updates with counts), `done` (completion with inserted
        counts), `error` (on failure).
      operationId: syncHostTransactionsSSE
      security:
        - basicAuth: []
      parameters:
        - name: hostUrl
          in: query
          required: true
          schema:
            type: string
            example: "https://api.casparkroll.de"
        - name: cardNumber
          in: query
          required: true
          schema:
            type: string
            example: "123456789"
        - name: token
          in: query
          required: false
          description: Base64-encoded `cardNumber:password` fallback for EventSource clients.
          schema:
            type: string
      responses:
        "200":
          description: SSE stream of progress events.
          content:
            text/event-stream:
              schema:
                type: string
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
